[setup]
# define if LOCAL or S3 storage will be used when storing/restoring the backup
storage_engine='S3'

[S3]
bucket_name="db_backups.s3.my.domain.com"
bucket_backup_path="postgres/"

[postgresql]
host=<your_psql_addr(probably 127.0.0.1)>
port=<your_psql_port(probably 5432)>
db=<your_db_name>
user=<your_username>
password=<your_password>

